<style>
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
</style>
* {
  box-sizing: bodrer-box;
}
body {
  background-image: url('https://images.freeimages.com/images/large-previews/588/oxbow-bend-turnout-1362724.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  font-family: "Popins", sans-serif;
  margin: 0;
}
